Parker.ConsoleUI/Service References/ParkinService/Parking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Parking" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Parker.Service/Parking.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Parker.Service/Parking.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Parker.Service/Parking.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/Parker.Service/Parking.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Parker.Entity" />
      <xsd:import schemaLocation="http://localhost/Parker.Service/Parking.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Parker.Entity.CustomType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IParking_GetAvailableFloors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableFloors" />
  </wsdl:message>
  <wsdl:message name="IParking_GetAvailableFloors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableFloorsResponse" />
  </wsdl:message>
  <wsdl:message name="IParking_Checkin_InputMessage">
    <wsdl:part name="parameters" element="tns:Checkin" />
  </wsdl:message>
  <wsdl:message name="IParking_Checkin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckinResponse" />
  </wsdl:message>
  <wsdl:message name="IParking_Checkout_InputMessage">
    <wsdl:part name="parameters" element="tns:Checkout" />
  </wsdl:message>
  <wsdl:message name="IParking_Checkout_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckoutResponse" />
  </wsdl:message>
  <wsdl:portType name="IParking">
    <wsdl:operation name="GetAvailableFloors">
      <wsdl:input wsaw:Action="http://tempuri.org/IParking/GetAvailableFloors" message="tns:IParking_GetAvailableFloors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParking/GetAvailableFloorsResponse" message="tns:IParking_GetAvailableFloors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Checkin">
      <wsdl:input wsaw:Action="http://tempuri.org/IParking/Checkin" message="tns:IParking_Checkin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParking/CheckinResponse" message="tns:IParking_Checkin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Checkout">
      <wsdl:input wsaw:Action="http://tempuri.org/IParking/Checkout" message="tns:IParking_Checkout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParking/CheckoutResponse" message="tns:IParking_Checkout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IParking" type="tns:IParking">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableFloors">
      <soap:operation soapAction="http://tempuri.org/IParking/GetAvailableFloors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Checkin">
      <soap:operation soapAction="http://tempuri.org/IParking/Checkin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Checkout">
      <soap:operation soapAction="http://tempuri.org/IParking/Checkout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Parking">
    <wsdl:port name="BasicHttpBinding_IParking" binding="tns:BasicHttpBinding_IParking">
      <soap:address location="http://localhost/Parker.Service/Parking.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>