Parker.ConsoleUI/Service References/ParkinService/Parking4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Parker.Service/Parking.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/Parker.Service/Parking.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Parker.Entity" />
  <xs:element name="GetAvailableFloors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableFloorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAvailableFloorsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Checkin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parkingFloor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Parker.Entity" minOccurs="0" name="CheckinResult" nillable="true" type="q2:ParkingToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Checkout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parkingFloor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckoutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>